@inherits LayoutComponentBase

<header>
    <h1>Our List</h1>
</header>

<nav>
    <a href="/">Home</a>
    <a href="/counter">Counter</a>
    <a href="/converter">Converter</a>
    <a href="/shoppinglist">Shop List</a>
</nav>


<div>

    <a>@today.ToString("dddd, dd MMMM yyyy")</a>
</div>


@Body

<footer>
    @footerMessage
</footer>

@code {
    public string footerMessage { get; set; } = "Great Shopping";
    DateTime today = DateTime.Today;
}
